* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

header {
  height: 15vh;
  background-color: #064b34;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo img {
  width: 18vh;
  height: 5vw;
  object-fit: cover;
}

nav ul {
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}
li:hover {
  opacity: 0.6;
}

@media only screen and (max-width: 900px) {
  header {
    height: 100%;
    flex-direction: column;
  }
  .logo img {
    width: 30vh;
    height: 30vw;
    margin: 2%;
  }

  nav {
    font-size: 1.2em;
    margin-left: -8%;
    margin-bottom: 4%;
  }

  header,
  li {
    margin-top: 6%;
  }
}

